[Unit]
Description=Product MicroService
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/productMS
ExecStart=/bin/bash /home/ec2-user/productMS/start_service.sh
Restart=always

[Install]
WantedBy=multi-user.target

